.main-community {
    .header {
        margin: 0;

        @media only screen and (max-width: 1600px) {
            padding: 30px;
        }
    }

    .content {
        margin: 0 0 30px;
    
        border-top: 1px solid #D7DDDC;
        border-bottom: 1px solid #D7DDDC;

        @media only screen and (max-width: 1600px) {
            padding: 0 30px;
        }
    }
}

.people-list-wrapper .sum-people {
    padding: 40px 0;

    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    font-weight: 700;
    color: #808080;
}

.people-list {
    margin: 0;
    padding: 0;   

    .item {
        display: flex;
        align-items: center;
    
        margin: 0 0 20px;
        padding: 18px 50px;
    
        border-radius: 5px;
        box-shadow: 0 0 40px rgba(202, 213, 218, 0.45);

        @media only screen and (max-width: 1800px) {
            padding: 18px 20px;
        }

        @media only screen and (max-width: 1600px) {
            flex-direction: column;

            margin: 0 15px 30px;

            width: calc(50% - 30px);
    
            text-align: center; 
        }

        @media only screen and (max-width: 576px) {
            margin: 0 0 20px;
            width: calc(100%);
        }
    }

    .people-photo-text-wrapper {
        display: flex;

        .text-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
        
            font-size: 17px;
            line-height: 1.1765;
            color: #7B8180;
            font-family: 'Roboto', Arial, sans-serif;
        }

        .name {
            color: #2C2C2C;
            font-size: 20px;
            font-weight: 700;

            @media only screen and (max-width: 1200px) {
                margin: 0 0 5px;
            }
        }

        .member {
            white-space: nowrap;

            @media only screen and (max-width: 1200px) {
                white-space: normal;
            }
        }

        @media only screen and (max-width: 1600px) {
            text-align: left;
        }

        @media only screen and (max-width: 1200px) {
            flex-direction: column;
            align-items: center;
    
            text-align: center;
        }
    }

    .img-wrapper {
        margin: 0 40px 0 0;
    
        width: 78px;

        @media only screen and (max-width: 1800px) {
            margin: 0 20px 0 0;
        }

        @media only screen and (max-width: 1200px) {
            margin: 0 10px 20px;
        }
    }

    .people-information-wrapper {
        display: flex;
        justify-content: center;
        flex-grow: 1;
    
        padding: 0 30px;
    
        font-weight: 500;    
        color: #2C2C2C;
        text-transform: uppercase;  
        
        .item {
            padding: 0 50px;
            margin: 0;
        
            min-height: 50px;
        
            border-right: 1px solid #EAEDED;
            border-radius: 0; 
            box-shadow: none;

            &:last-child {
                border: 0;
            }

            @media only screen and (max-width: 1800px) {
                padding: 0 30px;
            }

            @media only screen and (max-width: 1600px) {
                padding: 20px;

                width: 100%;
        
                border: none;
                border-bottom: 1px solid #EAEDED;
            }
        }

        .number {
            margin: 0 15px 0 0;
            font-family: 'Roboto', Arial, sans-serif;
            font-size: 30px;
            font-weight: 700;

            @media only screen and (max-width: 1600px) {
                margin: 0 15px 10px;
            }
        }

        @media only screen and (max-width: 1800px) {
            padding: 0 15px;
        }

        @media only screen and (max-width: 1600px) {
            flex-direction: column;

            padding: 15px;
        }
    }

    .btn-view {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 120px;
        height: 40px;
    
        font-size: 15px;
        color:#FFF;
        border-radius: 5px;
        background: linear-gradient(to bottom, #03EFFE 0%,#4FACFE 100%); 

        &:hover {
            opacity: 1;

            background: linear-gradient(to top, #03EFFE 0%,#4FACFE 100%);        
        }
    }

    @media only screen and (max-width: 1600px) {
        display: flex;
        flex-wrap: wrap;   

        margin: 0 -15px;
    }

    @media only screen and (max-width: 576px) {
        margin: 0;
    }
}