.wrapper {
    display: flex;

    position: relative;

    width: 100%;

    overflow: hidden;
}

.main {
    position: relative;
    
    margin: 0 0 0 350px;
    padding: 0 0 45px;

    width: 100%;
    min-height: 100vh;

    transition: margin 0.3s linear;
    
    &.stretched {
        margin: 0 0px 0 100px;
    
        transition: margin 0.3s linear;

        @media only screen and (max-width: 980px) {
            margin: 0;
        }
    }

    @media only screen and (max-width: 980px) {
        margin: 0;
        padding: 50px 0 72px;
    }
}

.content {
    padding: 0 50px;

    @media only screen and (max-width: 576px) {
        padding: 0 20px;  
    }
}