.main-dashboard .header .header-logo {
    @media only screen and (max-width: 1200px) {
        margin: 0 45px 20px 0;
    }
}

.proofs-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 0 90px;

    .item {
        padding: 0 30px 5px;
    
        width: 25%;
    
        color: #34FFF3;
    
        border-left: 1px solid #CAD5DA;

        &:nth-child(2),
        &:nth-child(2) .icon-wrapper i {
            color: #5CE5DD;
        }

        &:nth-child(3),
        &:nth-child(3) .icon-wrapper i {
            color: #37D3CA;
        }

        &:nth-child(4),
        &:nth-child(4) .icon-wrapper i {
            color: #26BCB3;
        }

        .item-content {
            display: flex;
            align-items: center;
        
            font-family: 'Roboto', Arial, sans-serif;

            .number {
                margin: 0 15px 0 0;
            
                font-size: 100px;
                font-weight: 700;
                line-height: 1.2;

                @media only screen and (max-width: 1800px) {
                    margin: 0 10px 0 0;
                }

                @media only screen and (max-width: 576px) {
                    margin: 0 2px 5px 0;

                    font-size: 56px;  
                }
            }

            .description-number {
                margin: 7px 0;
            
                font-size: 18px;
                font-weight: 700;

                .text-number {
                    font-family: 'Raleway', Arial, sans-serif;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 1.2;
                    color: #7B8180;
                }

                @media only screen and (max-width: 576px) {
                    display: flex;
                    flex-direction: column;
            
                    margin: 3px 0; 
                }
            }
        }

        .item-title {
            display: flex;
        
            font-weight: 500;
            font-size: 20px;
            line-height: 1.2;
            color: #2C2C2C;
            text-transform: uppercase;
        }

        .icon-wrapper {
            margin: 0 8px 0 0;
        
            font-size: 0;

            i {
                font-size: 20px;
                color: #34FFF3;
            }
        }

        @media only screen and (max-width: 1800px) {
            padding: 0 20px 5px;
        }

        @media only screen and (max-width: 1600px) {
            width: 50%;

            border-left: none;
        }

        @media only screen and (max-width: 1200px) {
            padding: 0 10px 5px 0;
        }
    }

    @media only screen and (max-width: 576px) {
        margin: 0 0 40px 0;    
    }
}

.information-wrapper {
    display: flex;
    flex-wrap: wrap;

    margin: 0 -25px;

    .item {
        padding: 30px;
        margin: 0 25px 50px;
    
        width: calc(50% - 50px);
        max-height: 540px;
    
        border-radius: 5px;
        box-shadow: 0 0 40px rgba(202, 213, 218, 0.45);

        &:nth-child(2) .item-title {
            @media only screen and (max-width: 768px) {
                margin: 0 0 30px;
            }
        }

        .item-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            margin: 0 0 30px 0;
        
            min-height: 40px;

            @media only screen and (max-width: 768px) {
                align-items: flex-start;
                flex-direction: column;
        
                margin: 0 0 20px 0
            }
        }

        .item-title {
            margin: 0;
        
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            color: #2C2C2C;
            text-transform: uppercase;

            @media only screen and (max-width: 768px) {
                font-size: 18px;
            }
        }

        .content-wrapper {
            display: flex;
            justify-content: space-between;
        
            max-height: calc(100% - 75px);

            .balls-wrapper,
            .text-wrapper {
                width: calc(50% - 19px);

                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
            }

            @media only screen and (max-width: 768px) {
                flex-direction: column;
            }
        }
        
        .text-wrapper {
            overflow-y: auto;

            h4 {
                margin: 0 0 24px 0px;
            
                font-size: 20px;
                line-height: 1.2;
                color: #2C2C2C;

                @media only screen and (max-width: 768px) {
                    font-size: 18px;
                }
            }

            @media only screen and (max-width: 768px) {
                overflow-y: initial;
            }
        }

        .balls-wrapper {
            @media only screen and (max-width: 768px) {
                margin: 0 0 35px;

                text-align: center;
            }

            img {
                max-height: 400px;
            }    
        }
        
        .list-wrapper {
            padding: 0;
            margin: 0;

            li {
                position: relative;
            
                padding: 0 20px 25px 15px;
            
                font-size: 15px;
                color: #7B8180;

                &:last-child {
                    padding-bottom: 0;
                }

                &::before {
                    content: '';
                
                    position: absolute;
                    top: 6px;
                    left: 0px;
                
                    width: 5px;
                    height: 5px;
                
                    border-radius: 50%;
                    background: radial-gradient(ellipse at center, #03EFFE 0%,#027478 60%, #012724 85%, #012724 100%); 
                }
            }
        }

        .navbar-nav {
            padding: 0;
            margin: 0 0 0 20px;

            @media only screen and (max-width: 768px) {
                margin: 0;
            }
        }     
        
        @media only screen and (max-width: 1600px) {
            margin: 0 0 50px;

            width: 100%;
        }

        @media only screen and (max-width: 768px) {
            padding: 25px 20px;

            max-height: 100%;
    
            font-size: 12px;
        }
    }

    .navbar-header {

        .navbar-nav {
            @media only screen and (max-width: 768px) {
                padding: 0;
                margin: 0 -20px;
                border-left: none;
                border-radius: 0 5px 5px 0;
            }
        }

        @media only screen and (max-width: 768px) {
            width: auto;
        }
    }

    @media only screen and (max-width: 768px) {
        padding: 0 20px;
    }
}

/* styles scrollbar for Chrome

.information-wrapper .item .text-wrapper::-webkit-scrollbar {
    width: 5px;

    background-color: transparent;
}

.information-wrapper .item .text-wrapper::-webkit-scrollbar-thumb {
    width: 100%;
    
    border-radius: 3px;
    background-color: #CAD5DA;
}

styles scrollbar for Firefox

.information-wrapper .item .text-wrapper {
    scrollbar-color: #CAD5DA transparent;
    scrollbar-width: thin;
} */


@media only screen and (max-width: 576px) {
    .navbar-header .navbar-nav .nav-link,
    .proofs-wrapper .item .icon-wrapper i,
    .proofs-wrapper .item .item-content .description-number,
    .proofs-wrapper .item .item-title,
    .proofs-wrapper .item .item-content .description-number .text-number,
    .information-wrapper .item .list-wrapper li {
        font-size: 12px;
    }
}

@media print  {  
    body {   
        font: 14px/1.3 Arial, sans-serif;   
        color: #000 !important;   
        background: none !important;  
    }  

    * {   
        color: #000 !important;   
        background: none !important;   
        box-shadow: none !important;   
        text-shadow: none !important;  
    }  

    a[href]:after {   
        content: " (" attr(href) ")";  
    }  

    *:before,  
    *:after,  
    .sidebar,  
    .dropdown,  
    .popup {   
        display: none !important;  
    }  

    h1, h2, h3, h4, h5 {   
        page-break-after: avoid;  
    } 

    .main {
        margin: 0;
    }

    .header {
        flex-direction: column;
        align-items: flex-start;

        margin: 0;
        padding: 10px 50px 30px;

        .header-logo {
            margin: 0 0 20px 0;

            .header-logo-btn {
                display: none;
    
                margin: 0;
            }
        }
        
        .header-title {
            margin: 0;
        }
    }

    .navbar-header .navbar-nav .nav-link.active {
        font-weight: 700;

        border: 1px solid #000;
        border-radius: 5px;
    }

    .proofs-wrapper {
        margin: 0 0 10px 0;    

        .item {
            padding: 0 0 10px;

            width: 50%;

            border-left: none;

            .item-content {
                margin: 0 0 5px;
                
                .number {
                    font-size: 56px;    
                }
            }

            .icon-wrapper {
                margin: 0;
            }

            .item-title {
                font-size: 18px;
            }
        }
    }

    .information-wrapper {
        .item {
            margin: 0 0 25px;
            padding: 15px 20px;

            width: 100%;
            max-height: 100%;

            .text-wrapper {
                overflow-y: visible;
            }

            .content-wrapper {
                flex-direction: column;

                .balls-wrapper,
                .text-wrapper {
                    width: 100%;
                }
            }

            .balls-wrapper {
                margin: 0 0 35px;

                text-align: center;
    
                img {
                    max-height: 300px;
                }    
            }

            .list-wrapper {
                li {
                    padding: 0 0 15px;
                }
            }
        }
    }
}