@font-face {
    font-family: 'icomoon';
    src:
      url('../fonts/icomoon/icomoon.ttf?64j2ww') format('truetype'),
      url('../fonts/icomoon/icomoon.woff?64j2ww') format('woff'),
      url('..s/fonts/icomoon/icomoon.svg?64j2ww#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
  
[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-broken:before {
    content: "\e900";
}
.icon-community:before {
    content: "\e901";
}
.icon-dashboard:before {
    content: "\e902";
}
.icon-download:before {
    content: "\e903";
}
.icon-facebook:before {
    content: "\e904";
}
.icon-flag:before {
    content: "\e905";
}
.icon-header:before {
    content: "\e906";
}
.icon-search:before {
    content: "\e907";
}
.icon-settings:before {
    content: "\e908";
}
.icon-share:before {
    content: "\e909";
}
.icon-twitter:before {
    content: "\e90a";
}
.icon-youtube:before {
    content: "\e90b";
}