.footer {
    position: absolute;
    bottom: 0;
    left: auto;

    padding: 0 50px 15px;

    width: 100%;

    .copyright {
        font-size: 11px;
        line-height: 1.2;
        color: #7B8180;

        a,
        a:visited {
            color: #2C2C2C;
            text-decoration: underline;
        }

        span {
            @media only screen and (max-width: 576px) {
                text-align: center;
                padding: 8px 0;
            }
        }

        @media only screen and (max-width: 576px) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
}