.header {
    display: flex;
    align-items: center;

    margin: 0 0 40px;
    padding: 30px 50px;   

    .header-logo {
        display: flex;
        align-items: center;
    
        margin: 0 45px 0 0;

        .header-logo-btn {
            position: relative;
        
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;
        
            margin: 0 18px 0 0;
        
            height: 16px;
            width: 16px;

            &:hover {
                cursor: pointer;
            }

            .line {
                width: 100%;
                height: 2px;
            
                border-radius: 1px;
                background-color: #37D3CA;

                &:nth-child(1),
                &:nth-child(3) {
                    @media only screen and (max-width: 980px) {
                        transform-origin: 0% 0%;
                    }
                }

                &:nth-child(2) {
                    position: absolute;
                    top: 50%;
                    left: 0%;
                    transform: translateY(-50%);
                
                    width: 10px;
                
                    transition: left 0.3s linear;

                    @media only screen and (max-width: 980px) {
                        width: 15px;
                    }
                }

                @media only screen and (max-width: 980px) {
                    background: #fff;

                    transition: transform 0.3s linear;
                }
            }

            &.active {
                .line:nth-child(1) {
                    @media only screen and (max-width: 980px) {
                        transform: rotate(45deg) translate(0px, -1px);
                    }
                }

                .line:nth-child(2) {
                    left: calc(100% - 10px);
                
                    transition: left 0.3s linear;

                    @media only screen and (max-width: 980px) {
                        left: calc(100%);

                        transition: left 0.1s linear;
                    }
                }

                .line:nth-child(3) {
                    @media only screen and (max-width: 980px) {
                        transform: rotate(-45deg) translate(-1px, 0px);                    
                    }
                }
            }

            @media only screen and (max-width: 980px) {
                position: absolute;
                top: 15px;
                z-index: 5;
        
                height: 18px;
                width: 25px;
        
                overflow: hidden;
            }
        }

        .header-title {
            margin: 0;
        
            font-size: 35px;
            font-weight: 700;
            line-height: 1.1715;
            color:#2C2C2C;

            @media only screen and (max-width: 576px) {
                font-size: 24px;          
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: flex-start;
    }

    @media only screen and (max-width: 576px) {
        padding: 18px 20px;
        margin: 0;              
    }
}

.navbar-header .navbar-nav {
    display: flex;

    padding: 0 20px;
    margin: 0;

    border: 1px solid #CAD5DA;
    border-radius: 5px;

    .nav-item {
        display: flex;
        align-items: center;

        @media only screen and (max-width: 576px) {
            flex-grow: 1;   
        }
    }

    .nav-link {
        position: relative;
    
        padding: 6px 20px;
    
        font-family: 'Roboto', Arial, sans-serif;
        color: #7B8180;
        font-size: 15px;
        line-height: 1.2;

        span {
            position: relative;
            z-index: 2;
        }

        &:hover,
        &.active {
            &::after {
                content: '';
            
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 1;
            
                height: 40px;
                width: 110%;
            
                border-radius: 5px;
                background: linear-gradient(to bottom, #03EFFE 0%,#4FACFE 100%); 
            
                @media only screen and (max-width: 576px) {
                    height: 30px;  
                }
            }

            & span {
                color: #FFF;
            }
        }

        &:hover {
            opacity: 1;
        }

        @media only screen and (max-width: 980px) {
            padding: 6px 18px;                  
        }

        @media only screen and (max-width: 576px) {
            padding: 4px 10px;

            width: 100%;
    
            font-size: 12px;        
            text-align: center;
        }
    }

    @media only screen and (max-width: 576px) {
        padding: 0;
        margin: 0 -20px;

        border-right: none;
        border-left: none;
        border-radius: 0;    
    }
}

.navbar-header {
    @media only screen and (max-width: 576px) {
        width: 100%;       
    }
}