* {
    box-sizing: border-box;
}

body {
	margin: 0;
    font-family: 'Raleway', Arial, sans-serif;
    font-weight: 400;
}

a {
    text-decoration: none;
}

a:hover{
	opacity: 0.75;
}

img {
	max-width: 100%;
    height: auto;
    
	vertical-align:top;
}

p {
	margin: 0 0 15px;
}

input {
    font-family: 'Raleway', Arial, sans-serif;
}

input:focus {
    outline: none;
}

ul {
    list-style-type: none;
}