.main-search {
    background: url(../images/search-bg.png) no-repeat bottom right;
    background-size: cover;

    .header {
        margin: 0;
    
        background-color: #fff;
    }
    
    .content {
        display: flex;
        align-items: center;
        justify-content: center;
    
        padding: 45px;
    
        height: calc(100% - 45px);
    }

    .footer .copyright,
    .footer .copyright a,
    .footer .copyright a:visited{
        color: #fff;
    }
}

.search-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    .input-wrapper {
        position: relative;

        max-width: 600px;
        width: 100%;
        min-width: 520px;
        height: 70px;

        .search-input {
            padding: 20px 60px 20px 30px;
        
            width: 100%;
            height: 100%;
        
            font-size: 20px;
            color: #000;
        
            border-radius: 5px 0 0 5px;
            border: 1px solid #CAD5DA;
    
            &::placeholder {
                color: rgba(123, 129, 128, 0.6);
            }
    
            @media only screen and (max-width: 1200px) {       
                border-radius: 5px;
            }
    
            @media only screen and (max-width: 576px) {
                padding: 15px;
                
                font-size: 16px;
            }
        }

        .clear-input-btn {
            display: none;
            
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);

            height: 20px;
            width: 20px;

            border-radius: 50%;
            overflow: hidden;
            cursor: pointer;
        }

        @media only screen and (max-width: 1200px) {
            margin: 0 0 20px;

            max-width: 100%;
            min-width: 100%;
        }

        @media only screen and (max-width: 576px) {        
            height: 50px;
        }
    }

    .search-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    
        min-width: 180px;
        height: 70px;
        
        font-size: 24px;
        font-weight: 700;
        color: #fff;
    
        border-radius: 0 5px 5px 0;
        background: linear-gradient(to bottom, #03EFFE 0%,#4FACFE 100%);
        
        &:hover {
            opacity: 1;

            background: linear-gradient(to top, #03EFFE 0%,#4FACFE 100%);        
        }

        .icon-wrapper {
            margin: 0 15px 0 0;
        
            font-size: 0;

            i {
                font-size: 20px;

                @media only screen and (max-width: 576px) {
                    font-size: 16px;
                }
            }
        }

        @media only screen and (max-width: 1200px) {
            border-radius: 5px;
        }

        @media only screen and (max-width: 576px) {
            width: 100%;
            height: 50px;
    
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 1200px) {
        flex-direction: column;
    }
}