.main-search-result {
    .header {
        padding: 18px 50px;
        margin: 0;

        .header-logo {
            margin: 0;
        }

        @media only screen and (max-width: 1200px) {
            align-items: center;
            flex-direction: row;
        }

        @media only screen and (max-width: 576px) {
            padding: 18px 20px;
        }
    }

    .search-wrapper {
        justify-content: flex-start;

        .input-wrapper {
            height: 60px;

            @media only screen and (max-width: 1200px) {
                margin: 0;

                min-width: auto;
            }

            @media only screen and (max-width: 576px) {
                margin: 0 0 10px;
            }
        }

        .search-input {
            @media only screen and (max-width: 1200px) {
                border-radius: 5px 0 0 5px;
            } 

            @media only screen and (max-width: 576px) {
                border-radius: 5px;
            }
        }

        .search-btn {
            height: 60px;

            @media only screen and (max-width: 1200px) {
                border-radius: 0 5px 5px 0;
            }

            @media only screen and (max-width: 576px) {
                border-radius: 5px;
            }
        }

        @media only screen and (max-width: 1200px) {
            flex-direction: row;
        }

        @media only screen and (max-width: 576px) {
            flex-direction: column;
        }
    }

    .content {
        padding: 0;
    }
}

.search-result-tabs-wrapper {
    display: flex;

    margin: 0;
    padding: 0 50px;

    height: 60px;

    background-color: #F8FAFA;

    .tab {
        position: relative;

        display: flex;
        align-items: center;

        padding: 0 30px;

        height: 100%;

        font-weight: 700;
        color: #000;

        .tab-counter {
            margin: 0 0 0 5px;

            font-family: 'Roboto', Arial, sans-serif;
            font-weight: 500;
            color: #7D7E7E;
        }

        &.active,
        &:hover  {
            background: linear-gradient(to bottom, rgba(255,255,255,0.2) 0%, rgba(3,239,254,0.05) 30%, rgba(3,239,254,0.1) 100%);

            &::after {
                content: '';

                position: absolute;
                left: 0;
                bottom: 0;

                width: 100%;
                height: 8px;

                background: linear-gradient(to right, #4FACFE 0%, #03EFFE 100%);
            }
        }

        @media only screen and (max-width: 576px) {
            padding: 0 15px;

            font-size: 14px;
        }
    }

    @media only screen and (max-width: 576px) {
        padding: 0 20px;
    }
}

.tabs-content-wrapper {
    padding: 40px 50px;

    .information-wrapper {
        .item {
            padding: 30px 30px 15px;

            .article-title {
                margin: 0 0 10px;
                
                font-size: 15px;
                color: #2C2C2C;
            }
            
            .text-wrapper {
                margin: 0 0 20px;

                p {
                    margin: 0;
    
                    font-size: 12px;
                    color: #7B8180;
    
                    &.authors {
                        margin: 0 0 30px;
                    }
                }
            }

            .themes-wrapper {
                display: flex;
                flex-wrap: wrap;
                margin: 0 0 25px;
                padding: 0;

                .theme {
                    padding: 5px 20px;
                    margin: 0 5px 5px 0;

                    font-size: 11px;
                    font-weight: 700;
                    color: #7B8180;

                    border-radius: 15px;
                    background-color: rgba(159, 188, 186, 0.25);
                
                    &:last-child {
                        margin: 0 0 5px 0;
                    }
                }
            }

            .citations-wrapper {
                display: flex;

                padding: 15px 0 0;

                border-top: 1px solid #EAEDED;

                span {
                    font-size: 15px;
                    font-weight: 700;
                    color: #7B8180;

                    &.artifacts {
                        position: relative;

                        padding: 0 25px 0 0;

                        &::after {
                            content: '';

                            position: absolute;
                            right: 10px;
                            top: 50%;
                            transform: translateY(-50%);

                            height: 5px;
                            width: 5px;

                            border-radius: 50%;
                            background-color: rgba(123, 129, 128, 0.35);
                        }
                    }

                    &.citations {
                        font-weight: 500;

                        .citations-sum {
                           font-family: 'Roboto', Arial, sans-serif; 
                           font-weight: 700;

                        }
                    }
                }
            }

            @media only screen and (max-width: 1600px) {
                margin: 0 25px 50px;
                width: calc(50% - 50px);
            }

            @media only screen and (max-width: 576px) {
                margin: 0 0 20px;
                width: 100%;
            }
        }
    }

    @media only screen and (max-width: 576px) {
        padding: 20px;
    }
}