.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 350px;
    /* min-width: 350px; */
    height: 100vh;

    background: linear-gradient(to bottom, #489e98 0%,#276763 50%,#012724 100%); 
    overflow-y: auto;
    transition: width 0.3s linear;

    .sidebar-header {
        margin: 0 0 20px;
        padding: 28px 0;   
    
        width: 100%;
    
        text-align: center;

        img {
            height: 40px;
        }

        .logo img {
            @media only screen and (max-width: 980px) {
                height: 24px;
            }
        }

        .logo-small {
            display: none;
        }

        @media only screen and (max-width: 980px) {
            position: absolute;
            top: 0;
            left: 100%;
            z-index: 6;
    
            display: flex;
            align-items: center;
            justify-content: center;
    
            margin: 0;
            padding: 0;
    
            height: 50px;
    
            background: linear-gradient(to bottom, #489e98 0%, #42958F 100%); 
            transition: left 0.3s linear;
        }
    }

    .sidebar-content-wrapper {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    
        width: 100%;
    }

    .navbar {
        flex-grow: 1;
    
        width: 100%;
    }

    .navbar-nav {
        margin: 0;
        padding: 0;

        .nav-item {
            margin: 0 0 20px 0;

            .nav-link {
                position: relative;
            
                display: flex;
                align-items: center;
            
                padding: 15px 50px;
            
                min-height: 50px;
                
                font-size: 15px;
                font-weight: 700;
                line-height: 1.2;
                color: #9FBCBA;
                text-transform: uppercase;

                .icon-wrapper {
                    margin: 0 30px 0 0;
                
                    font-size: 0;

                    i {
                        font-size: 20px;
                    }
                }

                img {
                    display: none;
                
                    width: 20px;
                }

                .img-wrapper {
                    position: relative;
                
                    margin: 0 0 15px;
                    
                    width: 80px;
                    height: 80px;
                    
                    box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
                    border-radius: 50%;

                    img {
                        width: 100%;
                    
                        object-fit: contain;
                    }
                }

                .settings-wrapper {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    
                    width: 25px;
                    height: 25px;
                
                    font-size: 0;
                    color: #fff;
                    
                    background: linear-gradient(to bottom, #03EFFE 0%,#4FACFE 100%); 
                    border-radius: 50%;

                    i {
                        font-size: 13px;
                    }
                }

                .user-name {
                    font-size: 15px;
                    font-weight: 700;
                    line-height: 1.2;
                    color: #FFFFFF;
                    text-align: center;
                    text-transform: capitalize;
                }

                &.active,
                &:hover {    
                    color: #FFFFFF;

                    opacity: 1;
                    background: linear-gradient(to left, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0) 100%); 

                    img { 
                        display: block;
                    }

                    i { 
                        font-size: 0;
                    }

                    .settings-wrapper i { 
                        font-size: 13px;
                    }

                    &::after {
                        content: '';
                    
                        position: absolute;
                        top: 0;
                        right: 0;
                        
                        width: 8px;
                        height: 100%;
                    
                        background: linear-gradient(to bottom, #03EFFE 0%,#4FACFE 100%); 
                    }
                }
            }

            &:first-child .nav-link {
                flex-direction: column;
            
                margin: auto auto 90px;

                img {
                    display: block;
                }
            }
        }
    }

    &.folded {
        width: 100px;
        /* min-width: 100px; */
    
        transition: width 0.3s linear;

        .sidebar-header {
            margin: 0 0 92px;

            .logo {
                display: none;

                @media only screen and (max-width: 980px) {
                    display: block;
                }
            }

            .logo-small {
                display: block;

                @media only screen and (max-width: 980px) {
                    display: none;
                }
            }

            @media only screen and (max-width: 980px) {
                left: 0;

                margin: 0;
        
                transition: left 0.3s linear;
                animation: background-change 0s linear 0.3s;
                animation-fill-mode: forwards;
            }
        }

        .navbar-nav .nav-link {
            justify-content: center;
        
            padding: 15px;

            span {
                display: none;  

                @media only screen and (max-width: 980px) {
                    display: inline-block;  
                }
            }

            .icon-wrapper {
                display: inline-block;
                
                margin: 0;

                @media only screen and (max-width: 980px) {
                    display: inline-block;
        
                    margin: 0 30px 0 0;
                }
            }

            img {
                margin: 0;
            
                width: 20px;
            }

            .img-wrapper {
                margin: 0;
            
                width: 45px;
                height: 45px;

                img {
                    width: 100%;
                    height: auto;

                    @media only screen and (max-width: 980px) {
                        width: 100%;
                        height: auto;
                    }
                }

                @media only screen and (max-width: 980px) {
                    margin: 0 0 15px;

                    width: 80px;
                    height: 80px;
                }
            }

            .settings-wrapper {
                display: flex;
            
                width: 15px;
                height: 15px;

                i {
                    font-size: 7px;

                    @media only screen and (max-width: 980px) {
                        font-size: 13px;
                    }
                }

                @media only screen and (max-width: 980px) {
                    width: 25px;
                    height: 25px;
                }
            }

            @media only screen and (max-width: 980px) {
                justify-content: flex-start;

                padding: 15px 50px;
            }
        }

        @media only screen and (max-width: 980px) {
            left: 0;

            width: 100%;

            transition: left 0.3s linear;
        }
    }

    @media only screen and (max-width: 980px) {
        position: absolute;
        top: 0;
        left: -100%;
        z-index: 5;

        padding: 50px 0 0;
        
        width: 100%;
        min-height: 100vh;
        height: auto;

        overflow: inherit;
        transition: left 0.3s linear;
    }
}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    .social-buttons {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        margin: 0 0 20px;
        padding: 0px 15px;
    
        width: 100%;

        .social-btn {
            margin: 0 10px 20px;
        
            width: 30px;
            height: 30px;
        
            border-radius: 50%;
            overflow: hidden;

            i {
                font-size: 30px;
            }

            a {
                font-size: 0;
                color: #51726F;
            }
        }
    }

    .log-out-btn {
        display: flex;
        align-items: center;
        justify-content: center;
    
        width: 100%;
        height: 50px;
    
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        color: #51726F;
        text-transform: uppercase;
    
        border: none;
        border-top: 1px solid #51726F;
        background-color: transparent;
    }
}

@keyframes background-change {
    to {
        background: initial;
    }
}